.loader-error {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: #ffffff;
    align-items: center;
    justify-content: center;
    z-index: 499;
}
svg{
    width: 50%;
    height: auto;
    margin: 20px;
    display:inline-block;
  }