@import '../../node_modules/font-awesome/css/font-awesome.min.css';
#applayout {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#appmain {
    display: block;
    width: auto;
    height: 100%;
    overflow: hidden;
    margin-left: 70px;
    background: #F8F7FB;
    position: relative;
    transition: all .3s ease-in-out,-webkit-transform .3s ease-in-out;
}
#applayout .togglebtn {
    position: absolute;
    padding: 0px 15px;
    top: 15px;
    font-size: 28px;
    color: #adafb0;
    display: none;
    cursor: pointer;
    z-index: 1;
}
@media screen and (max-width: 576px) {
      #applayout #appmain {
        margin-left: 0px;
    }
    #applayout .togglebtn {
        display: block;
    }
}