.modalOverlay {
    z-index: 1000;
    display: none;
    /* padding-top: 100px; */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    animation: fadeModal 0.2s forwards;
    color: #707070;
}
.modalOverlay.show {display: flex;}
.modalContainer {
    border-radius: 10px;
    padding: 1em 2em;
    width: 700px;
    margin: auto;
    background-color: #fff;
    position: relative;
    transition: .2s;
    animation: zoomModal 0.2s forwards;
}
.modalContainer.maximize {
    width:100%;
    height: 100%;
    border-radius: unset;
}
/* .modalContainer.hide {
    animation: zoomModal 0.2s reverse;
} */
.modalClose {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    display: inline-block;
    background: #fff;
    z-index: 1000;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.modalContent {   
    display: block;
    overflow: hidden;
    position: relative;
    min-height: 430px;
}
.modalHeader {
    position: relative;
    background: #fff;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #dfe0e0;
}
.modalTitle {
    font-size: 20px;
    color: #707070;
    font-weight: bold;
    margin-top: 0;
}
.modalSubTitle {
    font-size: 16px;
    color: #707070;
    font-weight: bold;
    margin-top: 0;
}
.modalText {
    font-size: 14px;
    color: #707070;
    margin-bottom: 2em;
}
.modalSearch {
    padding-bottom: 1em;
}
.modalCatList {
    overflow: hidden;
    position: relative;
    transition: 0.2s;
}
.modalCatList:hover {
    box-shadow: inset 0px 7px 11px -11px rgba(115, 113, 113, 0.54);
}

.modalCatList .modalCategory {
    border: 2px solid #D0D5DD;
    border-radius: 6px;
    height: 90px;
    padding: 5px 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 2rem;
    cursor: pointer;
}
.modalCatList .modalCategory.selected {
    border-color: #4F7CFF;
}
.modalCategory .modalCatTitle {
    font-size: 14px;
    color: #59626D;
    font-weight: bold;
    text-align: left;
}
.modalCategory .modalCatIcon {
    position: absolute;
    right: 0;
    top: 0;
    /* width: 10px; */
    padding: 5px 10px;
    box-sizing: content-box;
}
.modalCategory .modalCatContent {
    font-size: 13px;
    color: #707070;
    padding: 10px 0;
    height: 45px;
    overflow: hidden;
}
.modalFooter {
    padding: 10px 0 0 0;
}
.footerBtns {
    float:right;
}
.iframenewWorkFlow {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.modalNext,.modalCancel {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    color: #707070;
    cursor: pointer;
    margin-left: 3rem;
}
.disablebtn {color: #d1d1d1;cursor: default;}
.hide { display: none; }
.modalContainer .modalCatList {
    height:375px
}
.modalContainer.maximize .modalCatList {
    height: 430px !important;
}
.modalContainer.maximize .modalContent {
    height: 515px;
}
.modalContainer.maximize .col-md-4 {
    flex: 0 0 20%;   
}
.activebtn {color: yellowgreen;}
@keyframes fadeModal { from{opacity: 0;} to{opacity: 1;} }
@keyframes zoomModal { from{transform: scale(0.95);} to{transform: scale(1);} }

@media (max-width: 768px) {
    .modalContainer {
        width: 500px;
    }
    .modalContent {
        height: 450px;
    }
}
@media (max-width: 600px){
    .modalContainer {
        margin: 0 10px;
        width: 100% !important;
    }
    .modalContainer .modalContent {
        height: 540px;
    }
    .modalContainer .modalCatList {
        height: 475px;
    }
}

@media (min-width: 1400px) {
    .modalContainer.maximize .modalContent {
        height: 800px;
    }
    .modalContainer.maximize .modalCatList {
        height: 745px !important;
    }
}
